[Unit]
Description=Moto G7 Play Wi-Fi supplicant
Requires=channel-wifi-firmware.service
After=channel-wifi-firmware.service
Wants=channel-wifi-dhcp-client.service
Before=channel-wifi-dhcp-client.service
ConditionPathExists=/etc/wpa_supplicant/wpa_supplicant-channel.conf

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'sed -i "/^[[:space:]]*#psk=/d" /etc/wpa_supplicant/wpa_supplicant-channel.conf && chmod 600 /etc/wpa_supplicant/wpa_supplicant-channel.conf'
ExecStartPre=/usr/sbin/ip link set wlan0 up
ExecStart=/usr/sbin/wpa_supplicant -i wlan0 -D nl80211 -c /etc/wpa_supplicant/wpa_supplicant-channel.conf
Restart=on-failure
RestartSec=2
